body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  background-image: url("black-thread-light.png");
}
#fyi {
  font-size: small;
}
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  padding: 10px;
}
.container {
  position: relative;
}
header {
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: white;
}
#ghostHeader {
  height: 180px;
}
.dropbtn {
  background-color: #be87be;
  color: white;
  padding: 12px;
  font-size: 12px;
  border: none;
  margin: 0px 5px 5px 0px
}
.dropdown {
  position: relative;
  /* got this hidden for now. w.i.p. */
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
  border-top: solid rgb(139, 139, 139) 1px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #be87be;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px dotted black;
}

.hour {
  background-color: #ffffff83;
  color: #000000;
  border-top: 1px dashed #000000;
}

.btn {
  margin-top: 18px;
}

.btnBlock {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #e68d5985;
  color: white;
}

.btn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
footer {
  position: fixed;
  bottom: 0px;
  right: 10px;
  opacity: 0.8;
}
footer p {
  font-size: small;
  background-color: white;
  padding: 5px 5px 5px 5px;
  margin: 0px 0px 1px 0px;
  border-radius: 5px;
}
@media only screen and (max-width: 600px) {
  .btnBlock {
    display: inline-block;
  }
  #ghostHeader {
    height: 160px;
  }
  .hour {
    width: 20%;
  }
  .col-sm-8 {
    width: 60%;
  }
  .btnBlock {
    width: 20%;
  }
  .btn {
    width: 40px;
    font-size: small;
    padding: 5px 5px 5px 5px;
  }
}
